@use 'theme-color';

#all-mail {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 38px;
  letter-spacing: -0.02em;
}

#all-mail-subtext {
  font-size: 16px;
  line-height: 22px;
}

#num-mail {
  color: theme-color('secondary');
}

.button {
  margin-left: 10px;
}
