@use 'theme-color';

#mail-from {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
}

.mail-card-container {
  width: 300px;
  height: 349px;
}

.mail-card-span {
  font-size: 13px;
  line-height: 18px;
  color: theme-color('secondary');
}

.icon {
  width: 20px;
  height: 20px;
}

#mail-footer {
  font-size: 12px;
  line-height: 16px;
  color: theme-color('secondary');
}